---
import Card from "../card.astro";
import { ImageUpdateStatus, type Image } from "@/models/image";
import Pill from "../pill.astro";
import { formatBytes, formatUnixTimestamp } from "@/utils/formats";
import DownloadIcon from "@/assets/icons/lucide--download.svg";

interface Props {
  image: Image;
}

const { image } = Astro.props;
---

<Card href={`/images/${image.id}`}>
  <div class="card-header">
    <div>
      <h3>{image.shortName}</h3>
      {
        image.isNewVersionAvailable?.status === ImageUpdateStatus.UpdateAvailable && (
          <div title="An update is available!">
            <DownloadIcon class="update-available" />
          </div>
        )
      }
    </div>
    {
      image.isPulled ? (
        <Pill text="Available" color={"var(--color-border-success)"} />
      ) : (
        <Pill text="Pending" color="var(--color-border-danger)" />
      )
    }
  </div>
  <div class="card-meta">
    <p>Tags:</p>
    <div>
      {image.name.tag && <Pill text={image.name.tag} color="var(--color-surface-300)" fill small />}
    </div>
  </div>
  {
    image.createdAt && (
      <div class="card-meta">
        <p>Created at:</p>
        <div>
          <Pill
            text={formatUnixTimestamp(image.createdAt, true)}
            color="var(--color-surface-300)"
            fill
            small
          />
        </div>
      </div>
    )
  }
  {
    image.exposedPorts.length > 0 && (
      <div class="card-meta">
        <p>Exposed ports:</p>
        <div>
          {image.exposedPorts.map((port) => (
            <Pill text={port} color="var(--color-surface-300)" fill small />
          ))}
        </div>
      </div>
    )
  }
  <div class="card-meta">
    <p>Size:</p>
    <div>
      <Pill text={formatBytes(image.size)} color="var(--color-surface-300)" fill small />
    </div>
  </div>
</Card>

<style>
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    & svg {
      width: 16px;
      height: 16px;
      translate: 0 2px;
      margin-right: 4px;
    }

    & > div {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    & + * {
      border-top: 1px solid var(--color-surface-300);
      padding-top: 10px;
      margin-top: 10px;
    }
  }

  .card-meta {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    align-items: flex-start;

    & + * {
      margin-top: 12px;
    }

    & > p {
      font-size: 80%;
      line-height: 1.5;
      font-weight: 500;
    }

    & > div {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }
  }

  .update-available {
    color: var(--color-primary-light);
  }
</style>
