---
import Page from "@/components/page.astro";
import HexagonIcon from "@/assets/icons/lucide--hexagon.svg";
import Pill from "@/components/pill.astro";
import Card from "@/components/card.astro";
import EmptyTable from "@/components/empty-table.astro";
import Button from "@/components/button.astro";
import Trash2Icon from "@/assets/icons/lucide--trash-2.svg";
import { Host } from "@/models/host";
import { formatBytes, formatUnixTimestamp } from "@/utils/formats";

const host = await Host.fromDockerSocket("http://localhost:2375");
const images = host.images.toSorted(
  (a, b) => (b.createdAt?.getTime() ?? 0) - (a.createdAt?.getTime() ?? 0)
);
---

<Page
  title={[{ text: "Images" }]}
  icon={HexagonIcon}
  description="Images are the read-only templates used to create containers. They can be inspected, deleted, and pulled from registries."
>
  <div slot="header">
    <Button
      icon={Trash2Icon}
      label="Prune"
      data-action="images.prune"
      theme="danger"
    />
  </div>
  <Card>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Created</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        {
          images.map((image) => (
            <tr>
              <td>
                <a href={`/images/${encodeURIComponent(image.id)}`}>
                  {image.name}
                </a>
              </td>
              <td>
                <Pill
                  text={image.containers.length > 0 ? "In use" : "Unused"}
                  color={
                    image.containers.length > 0
                      ? "var(--color-border-neutral)"
                      : "var(--color-border-danger)"
                  }
                />
              </td>
              <td>
                {image.createdAt ? formatUnixTimestamp(image.createdAt) : "-"}
              </td>
              <td>{formatBytes(image.size)}</td>
            </tr>
          ))
        }
      </tbody>
    </table>
    {images.length === 0 && <EmptyTable message="No images" />}
  </Card>
</Page>

<script>
  import { actions } from "astro:actions";
  const button = document.querySelector("button[data-action='images.prune']");
  button?.addEventListener("click", async () => {
    await actions.images.prune();
    window.location.reload();
  });
</script>
