---
import Page from "@/components/page.astro";
import FileCodeIcon from "@/assets/icons/lucide--file-code.svg";
import Button from "@/components/button.astro";
import PlayIcon from "@/assets/icons/lucide--play.svg";
import CircleDivideIcon from "@/assets/icons/lucide--circle-divide.svg";
import DownloadIcon from "@/assets/icons/lucide--download.svg";
import WrenchIcon from "@/assets/icons/lucide--wrench.svg";
import ContainerCard from "@/components/projects/container-card.astro";
import NetworkCard from "@/components/projects/network-card.astro";
import VolumeCard from "@/components/projects/volume-card.astro";
import { Host } from "@/models/host";

const { name } = Astro.params;
if (!name) {
  return Astro.redirect("/projects");
}

const host = await Host.fromDockerSocket("http://localhost:2375");
const project = host.projects.find((project) => project.name === name);
if (!project) {
  return Astro.redirect("/projects");
}
---

<Page
  title={[{ text: "Projects", href: "/projects" }, { text: name }]}
  icon={FileCodeIcon}
>
  <div slot="header" class="header-buttons">
    <Button
      icon={DownloadIcon}
      label="Pull"
      data-action="projects.pull"
      data-path={project.dockerComposeFilePath}
    />
    <Button
      icon={WrenchIcon}
      label="Build"
      data-action="projects.build"
      data-path={project.dockerComposeFilePath}
    />
    <Button
      visible={!project.isRunning}
      icon={PlayIcon}
      label="Start"
      data-action="projects.up"
      data-path={project.dockerComposeFilePath}
      theme="success"
    />
    <Button
      visible={project.isRunning}
      icon={CircleDivideIcon}
      label="Stop"
      data-action="projects.down"
      data-path={project.dockerComposeFilePath}
      theme="danger"
    />
  </div>

  <section>
    <h2>Containers</h2>
    <div class="grid">
      {
        project.containers.map((container) => (
          <ContainerCard container={container} />
        ))
      }
    </div>
  </section>

  {
    project.networks.length > 0 && (
      <section>
        <h2>Networks</h2>
        <div class="grid">
          {project.networks.map((network) => (
            <NetworkCard network={network} />
          ))}
        </div>
      </section>
    )
  }

  {
    project.volumes.length > 0 && (
      <section>
        <h2>Volumes</h2>
        <div class="grid">
          {project.volumes.map((volume) => (
            <VolumeCard volume={volume} />
          ))}
        </div>
      </section>
    )
  }

  <section>
    <h2>Debug</h2>
    <div class="debug-content">
      <details>
        <summary>Docker Compose file ({project.dockerComposeFilePath})</summary>
        <pre>{project.dockerComposeFileContent}</pre>
      </details>
      <details>
        <summary>Parsed config</summary>
        <pre>{JSON.stringify(project.dockerCompose, null, 2)}</pre>
      </details>
      <details>
        <summary>Containers</summary>
        <pre>{JSON.stringify(project.containers, null, 2)}</pre>
      </details>
      <details>
        <summary>Networks</summary>
        <pre>{JSON.stringify(project.networks, null, 2)}</pre>
      </details>
      <details>
        <summary>Volumes</summary>
        <pre>{JSON.stringify(project.volumes, null, 2)}</pre>
      </details>
    </div>
  </section>

  <style>
    h2 {
      margin-bottom: 1em;
    }

    section {
      margin-block: 3em;
    }

    .grid {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 16px;
    }

    .lint-results {
      display: flex;
      flex-direction: column;
      gap: 16px;

      padding-left: 0;

      li {
        display: flex;
        align-items: center;
        gap: 8px;

        svg {
          width: 16px;
          height: 16px;
        }

        &[data-level="error"] {
          color: var(--color-text-danger);
        }

        &[data-level="warning"] {
          color: var(--color-text-warning);
        }

        &[data-level="info"] {
          color: var(--color-text-neutral);
        }
      }
    }

    .header-buttons {
      display: flex;
      gap: 8px;
    }

    .debug-content {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  </style>

  <script>
    import { actions } from "astro:actions";
    document.querySelectorAll<HTMLElement>("[data-action]").forEach((el) => {
      el.addEventListener("click", async () => {
        const { action, path } = el.dataset;
        if (!action || !path) {
          return;
        }
        switch (action) {
          case "projects.up":
            await actions.projects.up({ path });
            window.location.reload();
            break;
          case "projects.down":
            await actions.projects.down({ path });
            window.location.reload();
            break;
          case "projects.build":
            await actions.projects.build({ path });
            window.location.reload();
            break;
          case "projects.pull":
            await actions.projects.pull({ path });
            window.location.reload();
            break;
          default:
            break;
        }
      });
    });
  </script>
</Page>
