---
import Page from "@/components/page.astro";
import ContainerIcon from "@/assets/icons/lucide--container.svg";
import Button from "@/components/button.astro";
import Trash2Icon from "@/assets/icons/lucide--trash-2.svg";
import { formatUnixTimestamp } from "@/utils/formats";
import Pill from "@/components/pill.astro";
import Card from "@/components/card.astro";
import EmptyTable from "@/components/empty-table.astro";
import DownloadIcon from "@/assets/icons/lucide--download.svg";
import { ImageUpdateStatus } from "@/models/image";

const { host } = Astro.locals;
const containers = host.containers.sort(
  (a, b) => (b.createdOn?.getTime() ?? 0) - (a.createdOn?.getTime() ?? 0)
);
---

<Page
  title={[{ text: "Containers" }]}
  icon={ContainerIcon}
  description="Containers are the runtime instances of images. They can be started, stopped, and inspected."
>
  <div slot="header">
    <Button
      icon={Trash2Icon}
      label="Prune"
      data-action="containers.prune"
      theme="danger"
    />
  </div>
  <Card>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>State</th>
          <th>Created</th>
          <th>Project</th>
        </tr>
      </thead>
      <tbody>
        {
          containers.map((container) => (
            <tr>
              <td>
                <a href={`/containers/${container.name}`}>{container.name}</a>
              </td>
              <td>
                {container.image && (
                  <a href={`/images/${container.image.id}`} class="image-name">
                    {container.image.normalizedName}
                    {container.image.isNewVersionAvailable?.status ===
                      ImageUpdateStatus.UpdateAvailable && (
                      <div title="An update is available!">
                        <DownloadIcon class="update-available" />
                      </div>
                    )}
                  </a>
                )}
              </td>
              <td>
                <Pill
                  text={container.state}
                  color={
                    container.state === "running"
                      ? "var(--color-border-neutral)"
                      : "var(--color-border-danger)"
                  }
                />
              </td>
              <td>
                {container.createdOn
                  ? formatUnixTimestamp(container.createdOn.getTime())
                  : "-"}
              </td>
              <td>
                {container.project && (
                  <a href={`/projects/${container.project.name}`}>
                    {container.project.name}
                  </a>
                )}
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>
    {containers.length === 0 && <EmptyTable message="No containers" />}
  </Card>
</Page>

<script>
  import { actions } from "astro:actions";
  const button = document.querySelector(
    "button[data-action='containers.prune']"
  );
  button?.addEventListener("click", async () => {
    await actions.containers.prune();
    window.location.reload();
  });
</script>

<style>
  .image-name {
    display: flex;
    align-items: center;
    gap: 6px;

    & svg {
      width: 16px;
      height: 16px;

      &.built-image {
        color: var(--color-primary);
      }

      &.update-available {
        color: var(--color-text-warning);
      }
    }
  }
</style>
