---
import Page from "@/components/page.astro";
import WrenchIcon from "@/assets/icons/lucide--wrench.svg";
import Card from "@/components/card.astro";
import EmptyTable from "@/components/empty-table.astro";
import { formatUnixTimestamp } from "@/utils/formats";

const { host } = Astro.locals;
const builds = host.builds;
builds.sort((a, b) => a.name.localeCompare(b.name));
---

<Page
  title={[{ text: "Builds" }]}
  icon={WrenchIcon}
  description="Builds are the process of creating images from source code."
>
  <Card>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Last built</th>
          <th>Project</th>
        </tr>
      </thead>
      <tbody>
        {
          builds.map((build) => (
            <tr>
              <td>
                <a href={`/builds/${build.name}`}>{build.name}</a>
              </td>
              <td>
                {build.image ? (
                  <a href={`/images/${build.image.id}`}>{build.image.normalizedName}</a>
                ) : (
                  "-"
                )}
              </td>
              <td>{build.image?.createdAt ? formatUnixTimestamp(build.image.createdAt) : "-"}</td>
              <td>
                <a href={`/projects/${build.project.name}`}>
                  {build.project.name}
                </a>
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>
    {builds.length === 0 && <EmptyTable message="No builds" />}
  </Card>
</Page>
